# resource "null_resource" "cloud_init_config_file-{{ item.name }}" {
#   connection {
#     type = "ssh"
#     user = "root"
#     private_key = var.ssh_private_key
#     host = "10.10.0.86"
#   }
#   provisioner "file" {
#     source      = "${path.module}/templates/user_data_{{ item.name }}.yml"
#     destination = "/var/lib/vz/snippets/user_data_{{ item.name }}.yml"
#   }
#}
resource "proxmox_vm_qemu" "{{ item.name }}" {
    # VM General Settings
    target_node = "{{ pve_node }}"
    name = "{{ item.name }}"
    desc = "{{ item.comments }}"

    # VM Advanced General Settings
    onboot = true

    # VM OS Settings
    clone = "{{ item.image | default(vm_config.image,true) }}"

    full_clone = true

    # VM System Settings
    agent = 1

    # VM CPU Settings
    cores = {{ item.cores | default(vm_config.cores,true) }}
    sockets = {{ item.sockets | default(1,true) }}
    cpu = "host"

    # VM Memory Settings
    memory = {{ item.memory | default(vm_config.memory,true) }}

    # VM Network Settings
    network {
        bridge = "vmbr0"
        model  = "virtio"
    }

    disk {
        storage = "{{ item.disk_storage | default(vm_config.disk_storage,true) }}"
        type = "scsi"
        size = "{{ item.disk_size | default(vm_config.disk_size,true) }}"
    }
    {% if item.second_disk %}
    disk {
        storage = "{{ item.disk_storage | default(vm_config.disk_storage,true) }}"
        type = "scsi"
        size = "{{ item.disk_size | default(vm_config.disk_size,true) }}"
    }
    {% endif %}



    # VM Cloud-Init Settings
    os_type = "cloud-init"
    cloudinit_cdrom_storage = "local"
    cicustom                = "user=local:snippets/user_data_{{ item.name }}.yml"

    # (Optional) IP Address and Gateway
    ipconfig0 = "ip={{ item.ip_address }}/{{ item.ip_cidr }},gw={{ item.ip_gateway }}"

    nameserver = "{{ item.dns | default(vm_config.dns,true) }}"

    # (Optional) Default User
    ciuser = "{{ item.username | default(vm_config.username,true) }}"
    cipassword = "{{ item.password | default(vm_config.password,true) }}"
}
