variable "proxmox_api_url" {
  description = "API Address for proxmox"
  type = string
  default = "{{ pve_credentials.api_endpoint }}"
}
variable "proxmox_api_token_id" {
  description = "API Token"
  type = string
  default = "{{ pve_credentials.api_token_id }}"
}
variable "proxmox_api_token_secret" {
  description = "API Secret"
  type = string
  default = "{{ pve_credentials.api_secret }}"
}
variable "numa" {
  description = "Numa status"
  type = bool
  default = {{ vm_config.numa }}
}
variable "ssh_private_key" {
  description = "SSH Private key to use for Proxmox provisioning"
  type = string
  default = <<EOF
{{ ssh_private_key }}
EOF
}
