#cloud-config
manage_etc_hosts: false
chpasswd:
  list: |
    root:password
  expire: False
users:
  - default
  - name: ansible
    gecos: {{ item.name }} Ansible user
    group: ansible
    lock_passwd: false
    passwd: {{ item.password | default(vm_config.password,true) }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys: {{ item.ssh_keys | default(vault_rh8_public_key,true) }}
hostname: {{ item.name }}
fqdn: {{item.fqdn }}
timezone: America/Denver
package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent
  - freeipa-client
  - man
  - passwd
  - vim
  - lvm2
  - firewalld
  - python3
  - python3-pip
  - sshpass
  - expect
write_files:
  - path: /etc/hosts
    content: |
      {{ item.ip_address }} {{ item.fqdn }} {{ item.name }}
    append: true

runcmd:
  - sed -i 's/\#\?PermitRootLogin .\+/PermitRootLogin yes/' /etc/ssh/sshd_config
  - sed -i 's/\#\?PasswordAuthentication .\+/PasswordAuthentication yes/' /etc/ssh/sshd_config
  - service sshd restart
